.DS_Store
node_modules
/build
/.svelte-kit
/package
!.env.example
!.env.dev.example
!.env.prod.example
.vercel
.output
src/lib/typescriptexperiments.ts
src/lib/assets/Default_pfp.png
/src/app.html
/.src/app.html
./src/app.html
src/app.html
package-lock.json
backend.bash
setup2.bat

venv
measure.py
config.bat
